@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import '../../styles/colors.css';

body {
  background-image: url('../../../public/images/background_image.png');
}

.pokemonSelectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%; 
  height: 55vh;
  margin-top: 16vh; 
  margin-left: auto;
  margin-right: auto;
  gap: 8vh; 
}

.pokemonRows {
  display: flex;
  justify-content: center;
  gap: 10vh; 
  width: 100%;
}

.pokemonCircle1 {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pokemonCircle1:nth-child(even) { 
  border: 1.25vh solid var(--dark-purple); 
  background-color: var(--light-purple);
}

.pokemonCircle1:nth-child(odd) { 
  border: 1.25vh solid var(--dark-red); 
  background-color: var(--light-red);
}

.pokemonCircle2 {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonCircle2:nth-child(odd) { 
  border: 1.25vh solid var(--dark-purple); 
  background-color: var(--light-purple);
}

.pokemonCircle2:nth-child(even) { 
  border: 1.25vh solid var(--dark-red); 
  background-color: var(--light-red);
}

.pokemonImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pokemonImage[src=""] {
  visibility: hidden;
}

.showDropdown .dropdownOverlay {
  display: block;
}

h1 { 
  font-size: 4.75vh; 
  font-family: "Irish Grover", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  margin-top: 8vh;  
  cursor:default;
}

button {
  height: 8vh;
  width: 50vw;
  font-family: "Irish Grover", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  font-size: 4vh;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: var(--dark-red);
  color: white;
  position: relative; /* Required for positioning the overlay */
  overflow: hidden; /* Ensures the overlay doesn't go outside the button */
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white layer */
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none; /* Ensures the overlay doesn't interfere with button interaction */
}

button:hover::before {
  opacity: 1;
}

