@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import '../../styles/colors.css';

.pokemonContainer {
  position: absolute;
  top: 8vh;
  left: 10vh;
  width: 50vw; 
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weaknessesContainer {
  position: absolute;
  top: 8vh;
  left: 100vh;
  width: 50vw; 
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.movesContainer {
  position: absolute;
  top: 8vh;
  left: 10vh;
  width: 50vw; 
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokeSuggContainer {
  position: absolute;
  top: 8vh;
  left: 10vh;
  width: 50vw; 
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonRows {
  display: flex;
  justify-content: center;
  gap: 8vh; 
  width: 100%;
}

.pokemonCircle {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.pokemonCircle:nth-child(odd) { 
  border: 8px solid var(--dark-red); 
  background-color: var(--light-red);
}

.pokemonCircle:nth-child(even) { 
  border: 8px solid var(--dark-purple); 
  background-color: var(--light-purple);
}

.pokemonCircle2 {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonCircle2:nth-child(odd) { 
  border: 8px solid var(--dark-purple); 
  background-color: var(--light-purple);
}

.pokemonCircle2:nth-child(even) { 
  border: 8px solid var(--dark-red); 
  background-color: var(--light-red);
}

.pokemonImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pokemonImage[src=""] {
  visibility: hidden;
}

h1 { 
  font-size: 4.75vh; 
  font-family: "Irish Grover", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  margin-top: 8vh;  
}

.menuButtonContainer {
  margin-top: 75vh;
}

button {
  height: 8vh;
  width: 50vw;
  font-family: "Irish Grover", system-ui; 
  font-weight: 400; 
  font-style: normal; 
  font-size: 4vh;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: var(--dark-purple);
  color: white;
}
